<h1>About</h1>
<p>This application pulls data from movie database with API call
With developed movie database on client side, user is able to write reviews
and comments of existing reviews with star rating.</p>
